.avatar {
  padding-top: 1em;
  border-radius: 50% 80% / 70% 10%;
}

.name {
  display: flex;
  flex-direction: column;
  align-items: center;
  color:#333333;
}

.username {
  font-size: medium;
}

h2 {
  margin-top: .5em;
  margin-bottom: 0;
}

p {
  margin: 0;
}

.header {
  height: 520px;
  width: 100%;
  background-color:#31DED9;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-image: url("../images/cool-background.png");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  } 

@media only screen and (min-width: 1024px) {

  .header {
    height: 400px;
    width: 400px;
    border-radius: 100px;
    position: sticky;
    top: 5em;
    left: 1em;
  }


}
