@media only screen and (min-width: 420px) and (max-width: 1024px) {

  h2 {
    margin-top: .5em;
    margin-bottom: 0;
  }

    h4 {
      margin-top: 0;
      margin-bottom: 0;
    }

  .header {
    height: 520px;
    width: 100%;
    background-color: #394148;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-image: url("https://www.transparenttextures.com/patterns/green-dust-and-scratches.png");
  }

  .mobile-nav {
    width: 100%;
    display: flex;
    justify-content: space-between;
    color: #d1490a;
  }

  .title-mobile {
    font-family: "Bungee", sans-serif;
    font-size: 1em;
    border-radius: 4px;
    margin-left: .75em;
  }

  .nav-action-mobile {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-right: .75em;
    cursor: pointer;
  }

   .fa-angles-down {
    animation: pulse 1s infinite ease-in-out alternate;
  }
    @keyframes pulse {
    from { transform: scale(.8); }
    to { transform: scale(1.2); }
    }  
}

  .avatar {
    padding-top: 1em;
  }

  .name {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: #FFFFFF;
  }

  .username {
    font-size: medium;
  }
}

@media only screen and (min-width: 1024px) {
  .mobile-nav {
    display: none;
  }
}
