/* Mobile Rules */

  main {
    width: 90%;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #31DED9;
    background-image: url("../images/cool-background.png");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
  }

  .compose-tweet {
    margin-bottom: 20px;
  }
  
  .text-box {
    width: 100%;
  }

  .new-tweet {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    margin-right: 1em;
  }

  .new-tweet textarea {
    min-height: auto;
    width: 100%;
    border: none;
    border-bottom: 4px solid black;
    line-height: 22px;
    box-sizing: border-box;
    background-color: #31DED9;
    background-image: url("../images/cool-background.png");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    font-size: inherit;
    font-weight: bold;
    resize: none;
    outline: none;
    overflow: auto;
  }
  
  .new-tweet textarea:hover {
    text-shadow: 0 10px 20px #124b49;
    transition: text shadow 1s ease-in;
  }

  .new-tweet ::placeholder {
    color:#000000;
    opacity: 30%;
  }

  .button-counter {
    display: flex;
    margin-top: 20px;
    justify-content: space-between;
    font-family: "Bungee", sans-serif;
    }

    .button {
    background-color: #31aadeca;
    color: #FFFFFF;
    border-radius: 4px;
    cursor: pointer;
    box-shadow: 0 10px 20px #31ded8;
    }
    
    .button:hover {
    animation: button 1s ease-out infinite;
    }

    @keyframes button {
    0% {
      transform: scale(1);
    }
    50% {
      transform: scale(1.2);
    }
    100% {
      transform: scale(1);
    }
  }

  /* textarea Error messages */

  #display-empty-message {
    padding-left: 1em;
    font-size: .6em;
    display: none;
    color: red;
  }

  #display-maximum-message {
    padding-left: 1em;
    font-size: .6em;
    display: none;
    color: red;
  }


@media only screen and (min-width: 1024px) {
  main {
    width: 100%;
    align-items: flex-end;
    background-color: #31DED9;
  }

  
  .text-box {
    margin-right: 1em;
  }

  .new-tweet {
    justify-content: space-between;
    width: 85%; 
  }
}
