main {
  width: 90%;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #bebebe;
 }
 
 .text-box {
  width: 100%;
 }

 .new-tweet {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
 }

 .new-tweet textarea {
  min-height: auto;
  width: 100%;
  border: none;
  border-bottom: 4px solid black;
  box-sizing: border-box;
  background-color:  #bebebe;
  font-size: inherit;
  font-weight: bold;
  resize: none;
  outline: none;
  overflow: auto;
 }
 
 .new-tweet textarea:hover {
  min-height: auto;
  width: 100%;
  border: none;
  border-bottom: 4px solid black;
  box-sizing: border-box;
  border-radius: 6px;
  background-color:  #bebebe;
  font-size: inherit;
  font-weight: bold;
  resize: none;
  outline: none;
  overflow: auto;
  text-shadow: 0 10px 20px rgb(209, 73, 10);
  transition: text shadow 1s ease-in;
 }

 .new-tweet ::placeholder {
  color:rgb(209, 73, 10);
  font-weight: bold;
 }

 .button-counter {
  display: flex;
  margin-top: 1em;
  justify-content: space-between;
  font-family: "Bungee", sans-serif;
  }

  .button {
  background-color: rgb(209, 73, 10);
  color: #FFFFFF;
  border-radius: 4px;
  cursor: pointer;
  box-shadow: 0 10px 20px rgb(209, 73, 10);
  }
  
  .button:hover {
  animation: button 1s ease-out infinite;
  }

  @keyframes button {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.2);
  }
  100% {
    transform: scale(1);
  }
}