/* Mobile Rules */
@media only screen and (max-width: 1024px) {
  main {
    width: 90%;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #bebebe;
  }
  .compose-tweet {
    margin-bottom: 20px;
  }
  
  .text-box {
    width: 100%;
  }

  .new-tweet {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
  }

  .new-tweet textarea {
    min-height: auto;
    width: 100%;
    border: none;
    border-bottom: 4px solid black;
    line-height: 22px;
    box-sizing: border-box;
    background-color:  #bebebe;
    font-size: inherit;
    font-weight: bold;
    resize: none;
    outline: none;
    overflow: auto;
  }
  
  .new-tweet textarea:hover {
    text-shadow: 0 10px 20px #d1490a;
    transition: text shadow 1s ease-in;
  }

  .new-tweet ::placeholder {
    color:#d1490a;
    opacity: 30%;
  }

  .button-counter {
    display: flex;
    margin-top: 20px;
    justify-content: space-between;
    font-family: "Bungee", sans-serif;
    }

    .button {
    background-color: #d1490a;
    color: #FFFFFF;
    border-radius: 4px;
    cursor: pointer;
    box-shadow: 0 10px 20px #d1490a;
    }
    
    .button:hover {
    animation: button 1s ease-out infinite;
    }

    @keyframes button {
    0% {
      transform: scale(1);
    }
    50% {
      transform: scale(1.2);
    }
    100% {
      transform: scale(1);
    }
  }

  /* textarea Error messages */

  #display-empty-message {
    display: none;
    color: red;
  }

  #display-maximum-message {
    display: none;
    color: red;
  }
}

@media only screen and (min-width: 1024px) {
  
}

  /* textarea Error messages */

  #display-empty-message {
    display: none;
    color: red;
  }

  #display-maximum-message {
    display: none;
    color: red;
  }
}
